<div class="steps">
  <ng-content></ng-content>
</div>

<div class="footer" >
  <button type="button" (click)="previous()">Previous</button>
  <button type="button" (click)="next()">Next</button>
</div>
