<div style="display: flex; height: 400px">
  <div style="flex-grow: 1">
    <app-stepper (completed)="completed" (stepsNumber)="stepsNumber"></app-stepper>
    <app-wizard>
      <app-step>
        George, blabla
      </app-step>
      <app-step>
        Vamos começar
      </app-step>
      <app-step>
        Vamos começar
      </app-step>
    </app-wizard>
  </div>
</div>

<router-outlet></router-outlet>
