html,
body {
  height: 100%;
}
.ng-wizard {
  height: 100%;
  display: flex;
  flex-direction: column;

  .steps {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: hidden;

    position: relative;
  }

  .ng-wizard-step {
    position: absolute;
    top: 0;
    left: 100%;
    bottom: 0;
    right: 0px;
    transition: left 0.4s ease-in-out;
  }

  .ng-wizard-step--active {
    left: 0;
  }

  .ng-wizard-step--completed {
    left: -100%;
  }
}
